#student {
  dl {
    display: flex;
  }

  dt,
  dd {
    display: inline-block;
  }

  h2 {
    text-decoration: underline;
  }

  dt {
    flex: 0.5;
    font-weight: bold;
    white-space: nowrap;
  }

  dd {
    flex: 1;
  }
}
